<div id="ModalHistoryLog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-vcenter">
    <div class="modal-dialog" style="width:70%;position:relative;max-height:70%;">
      <div class="modal-content">
	<div class="modal-header"
	     style="background-color: #337ab7; color: #fff;">
	  <button type="button" class="close"
		  data-dismiss="modal" aria-hidden="true">
	    &times;
	  </button>
	  <h4 class="modal-title">Log</h4>
	</div>
	<div class="modal-body">
	  <div id="history-log-terminal" class="terminal">
	  </div>
	</div>
	<div class="modal-footer">
	  <div class="pull-right">
	    <button type="button" class="btn btn-default"
		    data-dismiss="modal">
	      Close
	    </button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
