{% extends "base.html" %}

{% block title %}Administration: Dynamic DNS{% endblock %}

{% block js%}
<script>
{% include 'libs.js' %}
{% include 'js/common.js' %}
$( document ).ready(function() {	
    $("#add-ddns").click(function(event) {
	console.log('hey!');
	$('#AddDDNS').modal('show');
    });
    $(".remove_ddns").click(function(event) {
	event.preventDefault();
	var url = $(this).attr('href');
       	console.log(url);
	bootbox.confirm("Are you sure you want to remove this ddns?", function(result) {
       	    if (result == true) {
       		callUrlAndReload(url);
	    }
    	}); 
    });
    autosize_tables();
});
</script>
{% endblock%}

{% block search_nav %}{% endblock %}

{% block main %}
<div id="main-content" style="padding: 2%; height: 100%; width: 100%">  
  <div id="toolbar-admin-ddns">
    <button class="btn btn-success" type="button"
	    id="add-ddns" aria-haspopup="true"
	    aria-expanded="false">
      <i class="fa fa-fw fa-arrow-up"></i>
      Add DDNS
    </button>
  </div>
  <table id="Table"
	 data-show-toggle="false"
	 data-show-export="false"
	 data-show-columns="true" data-show-multi-sort="true"
	 data-sort-name="name" data-pagination="true"
	 data-toggle="table" data-search="true"
	 data-toolbar="#toolbar-admin-ddns"
	 data-show-footer="false"
	 data-page-size="30"
	 data-escape="false"
	 class="table table-hover table-striped table-compact 
		table-condensed table-autosize"
	 cellspacing="0">
    <thead>
      <tr>
	<th>Record</th>
	<th>Owner</th>
	<th>Hash</th>
	<th>IP Address</th>
	<th>Last Update</th>
	<th>Actions</th>
      </tr>
    </thead>
    <tbody >
      {% for ddns in ctx.ddns %}
      <tr id="{{ddns.id}}">
	<td>
	  {{ddns.ddns}}
	</td>
	<td>
	  {{ddns.user_email}}
	</td>
	<td>
	  {{ddns.hash}}
	</td>
	<td>
	  {{ddns.ip}}
	</td>
	<td>
	  {{ddns.last_update}}
	</td>
	<td>
	  <a class="remove_ddns" href="{{url_for('delete_ddns')}}?id={{ddns._id}}">
	    <i class="fa fa-trash"></i>
	  </a> 
	</td>
      </tr>	
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}


{% block modals %}
<!-- Modal Add -->
<div class="modal fade bs-example-modal-lg" id="AddDDNS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="centered modal-title" id="AddDDNSModalZoneName">Add DDNS </h4>
      </div>
      <div class="modal-body">
	<form id="AddDDNSForm" role="form" class="form form-horizontal" method='POST'>
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="ddns">Hostname:</label>
	    <div class="col-sm-8">
	      <input required type="ddns" class="form-control" id="ddns" name="ddns" placeholder="DDNS Name">
	      <div id='ddns_error' class="alert alert-danger hide">DDNS is wrong.</div>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<!-- /Modal Add -->
{% endblock %}
