{% extends "base.html" %}

{% block title %}Zones: Unpublished{% endblock %}

{% block js%}
<script>
{% include 'libs.js' %}
{% include 'js/common.js' %}
function showZone(zone){
    var url = '{{url_for('index')}}?zone=' + zone;
    window.location.href = url;
}
function changeCheckboxes(value){
    var testimonialElements =  $('.action-checkbox');	
    for(var i=0; i<testimonialElements.length; i++){
	var element = testimonialElements.eq(i);
	element.prop('checked', value);
    }
}
function publishAndRemove(url, ii){
    console.log(url);
    loading();
    $.get(url, function(r){
       	$('#' + ii).empty();
	loadingDone();
    });
}
function bulkUrl(murl, confirmationText){
    var testimonialElements =  $('.action-checkbox');
    var items = [];
    
    for(var i=0; i<testimonialElements.length; i++){
	var element = testimonialElements.eq(i);
	if (element.prop('checked')){
	    var item_id = element.attr('id');
	    item_id = item_id.replace('p_', '');
	    items.push(item_id);
	}
    }
    if (items.length > 0) {
	bootbox.confirm(confirmationText, function(result) {
	    if (result == true){
		for (var i in items){
		    var ii = items[i];
		    var url = murl;
		    url += ii;
		    publishAndRemove(url, ii);
		}
	    }else{
		
	    }
	});
    }
}
$( document ).ready(function() {
    changeCheckboxes(false);
    autoSearch();
    $('#main-checkbox').click(function() {
	var $this = $('#main-checkbox');
    	// $this will contain a reference to the checkbox   
	
    	if ($this.prop('checked')) {
    	    console.log('checked!');
    	    changeCheckboxes(true);
	} else {
    	    changeCheckboxes(false);
    	}
    });
    $('.publish_this').click(function(event){
	var url = $(this).attr('link');	
	bootbox.confirm("Are you sure you want to publish this?", function(result) {
	    if (result == true){
		callUrlAndReload(url);	
	    } else {
		
	    }
	}); 
	event.preventDefault();
    })
    $('.remove_this').click(function(event){
	var url = $(this).attr('link');
	bootbox.confirm("Are you sure you want to delete this?", function(result) {
	    if (result == true){
		callUrlAndReload(url);	
	    } else {
		
	    }
	}); 
	event.preventDefault();
    })
    $('#bulk-publish').click(function(event){
	bulkUrl("{{url_for('publish_this')}}?id=", "Are you sure you want to publish this?");
	event.preventDefault();
    })
    $('#bulk-delete').click(function(event){
	bulkUrl("{{url_for('publish_remove')}}?id=", "Are you sure you want to delete this?");
	event.preventDefault();
    })
    autosize_tables();
});	
</script>
{% endblock %}

{% block main_menu %}
{% endblock %}

{% block main %} 
<div class="section-header" style="text-shadow: none !important;
				   height: 7%;
				   width: 100%;
				   position: relative;
				   border-bottom: 1px solid #e7e7e7;">
  <div class="title" style="float: left;
			    font-size: 30px;
			    margin: 0px;
			    padding-left: 1%;
			    position: relative;
			    text-align: left;
			    top: 50%;
			    transform: translateY(-50%);
			    width: 74%;">
    <i class="fa fa-fw fa-clipboard" aria-hidden="true"></i>
    Unpublished
  </div>
</div>
<div class="section-content" style="position:relative;width:100%;height:93%;overflow-y:auto;padding:0% 1%;">
  <div id="toolbar-zones-publish">
    <button class="btn btn-success" type="button"
	    id="bulk-publish" aria-haspopup="true"
	    aria-expanded="false">
      <i class="fa fa-fw fa-arrow-up"></i>
    </button>
    <button class="btn btn-danger" type="button"
	    id="bulk-delete" aria-haspopup="true"
	    aria-expanded="false">
      <i class="fa fa-fw fa-trash"></i>
    </button>
  </div>
  <table id="Table"
	 data-show-toggle="false"
	 data-show-export="false"
	 data-show-columns="true" data-show-multi-sort="true"
	 data-sort-name="name" data-pagination="true"
	 data-toggle="table" data-search="true"
	 data-toolbar="#toolbar-zones-publish"
	 data-show-footer="false"
	 data-page-size="15"
	 data-escape="false"
	 class="table table-hover table-striped table-compact 
		table-condensed table-autosize"
	 cellspacing="0">
    <thead>
      <tr>
	<th><input id="main-checkbox" type="checkbox" /> </th>
	<th>Operation</th>
	<th>Master</th>
	<th>View</th>
	<th>Zone</th>
	<th>Name</th>
	<th>Owner</th>
	<th>Note</th>
	<th>Actions</th>	
      </tr>
    </thead>
    <tbody>
      {% for to_p in ctx.to_publish%}
      <tr id="{{ to_p._id }}">
	<td>
	  <input class="action-checkbox" id="p_{{to_p._id}}" type="checkbox"/>
	</td>
	<td>
	  {% if to_p.action == 'Add' %}
	  <i class="fa fa-plus"></i>
	  {% elif to_p.action == 'Edit' %}
	  <i class='fa fa-pencil'></i> 
	  {% elif to_p.action == 'Del' %}
	  <i class="fa fa-trash"></i>
	  {% else %}
	  {{to_p.action}}
	  {% endif %}
	</td>
	<td></td>
	<td></td>
	<td>{{ to_p.zone }}</td>
	<td>{{ to_p.name }}</td>
	<td>{{ to_p.user.email}}</td>
	<td>{{ to_p.note}} </td>
	<td>
	  <a class="publish_this" href="#" link="{{url_for('publish_this')}}?id={{ to_p._id }}">
	    <i class="fa fa-arrow-up"></i>
	  </a>
	  <a class="remove_this" href="#" link="{{url_for('publish_remove')}}?id={{ to_p._id }}">
	    <i class="fa fa-trash"></i>
	  </a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
</div>
{% endblock %}
