{% extends "base.html" %}
{% block title %}Administration: Users{% endblock %}

{% block main %}
<nav class="sub-bar navbar navbar-custom">
  <div class="row container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-4">

      <a href={{url_for('admin_users')}} class=" btn btn-primary  navbar-btn col-md-3"> <i class="fa fa-angle-left"></i> Back </a> 
      <p class="navbar-text col-md-6"><strong>{{ctx.user.email}}</strong></p> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='navbar-header col-md-8'>
      <div class='row'>
	<p class="navbar-text  text-right col-md-2"> <strong>Administrator: </strong> </p> 
	<select class="navbar-form-input2 col-md-2 "  name="admin" id="admin" >
	  <option> {% if ctx.user.admin %}Yes{% else %} No {% endif %}</option>
	  <option> {% if not ctx.user.admin %}Yes {% else %} No {% endif %}</option>
	</select>

	<p class="navbar-text  {% if ctx.user.admin %} hide {% endif %} text-right col-md-2">
	  <strong>Add Zone</strong>

	</p> 
	<input type="text" class="col-md-2  {% if ctx.user.admin %} hide {% endif %}" 
	       id='search-zone' data-provide="typeahead" >
      </div>


    </div>
    
  </div><!-- /.container-fluid -->
</nav>
<div class="m-content panel panel-default {% if ctx.user.admin %} hide {% endif %} "> <!-- enabled domain list -->

  <table id="Table" class="table table-compact table-striped table-hover table-bordered table-condensed table-compact table-nowrap" cellspacing="0">
    <thead>
      <tr>
	<th>Zone</th>
	<th>Admin</th>
	<th>Actions</th>
      </tr>
    </thead>
    <tbody >
      {% for zone in ctx.user.zones %}
      <tr id="{{zone.name}}">
	<td>{{zone.name}} </td>
	<td>
	  <a class='change-admin-privs' 
	     href='{{url_for('change_user_zone_privs')}}?zone={{zone.name}}&user_id={{ctx.user.id}}'>
	    
	    {% if zone.admin %}
	    <i class="fa fa-thumbs-o-up"></i>
	    {% else%}
	    <i class="fa fa-thumbs-o-down"></i>
	    {% endif %}</a>
	</td>
	<td><a href='#' class='del-zone'> <i class="fa fa-times"></i> </a></td>
      </tr>	
      {% endfor %}
    </tbody>
  </table>
</div><!-- end enabled domain list -->
{% endblock %}

{% block js%}
{% include "__include__/bootstrap-table.html" %}
<script>
  {% include "admin/admin.js" %}
  {% include "admin/user/index.js" %}
</script>
{% endblock%}
