

<!-- Modal Add -->
<div class="modal fade bs-example-modal-lg" id="AddRecordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h4 class="centered modal-title" id="AddRecordModalZoneName">Add Record </h4>
      </div>
      <div class="modal-body">
	<form id='AddRecordForm' >
	</form>
      </div>
      <div class="modal-footer">
	
	<button type="button" id='btnCloseRecord' class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="submit" id='btnAddRecord' class="btn btn-primary">Add</button>
      </div>

    </div>
  </div>
</div>
<!-- /Modal Add -->


<!-- form AddRecordForm -->
<div class="AddRecordFormTemplate" style='display:none'>
  	  
  <div class="form-group row" id='record-input'>
    <label class="control-label col-sm-2 col-sm-offset-1" for="record">Record:</label>
    <div class="col-sm-6 input-group">
      <input required type="record" class="form-control" id="record" name="record" placeholder="Record Name">
      <span class="input-group-addon">.<span class=" ZoneNameTag"></span></span>

      <div id='record_error' class="alert alert-danger hide">Record is wrong.</div>
    </div>
    <div class="col-sm-3">

    </div>

  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2 col-sm-offset-1" for="ttl">ttl:</label>
    <div class="col-sm-6 input-group">
      <input required type="ttl" class="form-control" id="ttl" name="ttl" placeholder="ttl">
      <div id='ttl_error' class="alert alert-danger hide" > ttl is wrong,	    </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2 col-sm-offset-1" for="record_type">Type:</label>
    <div class='col-sm-6  input-group'>
      <select class="form-control "  name="record_type" class="form-control" id="record_type" >
	<option value="A">A</option>
	<option value="CNAME">CNAME</option>
	<option value="SRV">SRV</option>
	<option value="NS">NS</option>
	<option value="MX">MX</option>
	<option value="TXT">TXT</option>
	<option value="SPF">SPF</option>
	<option value="DNAME">DNAME</option>
      </select>
      <div id='record_type_error' class="alert alert-danger hide">	Type is wrong</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="control-label col-sm-2 col-sm-offset-1" for="record_value">Value:</label>
    <div class="col-sm-6 input-group">
      <input required type="text" class="form-control" id="record_value" name="record_value" placeholder="Record Value">
      <div id='record_value_error' class="alert alert-danger hide" >Value is wrong </div>
    </div>
  </div>

    <div class="form-group row">
    <label class="control-label col-sm-2 col-sm-offset-1" for="record_value">Note:</label>
    <div class="col-sm-6 input-group">
      <input required type="text" class="form-control" id="note" name="note" placeholder="Please add a note">
      <div id='note_error' class="alert alert-danger hide" >Value is wrong </div>
    </div>
  </div>


  <input  type="hidden" class="form-control" id="zone_id" name="zone">  


</div>
<!-- end AddRecordForm -->

