<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
    
    <link  href="{{ config['CDN_BOOTSTRAP'] }}/css/bootstrap.min.css" rel="stylesheet">
    <link  href="{{ config['CDN_BOOTSTRAP'] }}/css/bootstrap-theme.min.css" rel="stylesheet">
    <link  href="{{ config['CDN_FONTAWESOME'] }}/css/font-awesome.min.css" rel="stylesheet">

    <link  href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<!--    <script src="{{ config['CDN_COMMON'] }}/js/jquery.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--    <script src="{{ config['CDN_BOOTSTRAP'] }}/js/bootstrap.min.js"></script> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="//cdn.corpam.com.ar/bootbox/stable/js/bootbox.min.js"></script>

    <script src="//cdn.corpam.com.ar/bootstrap-typeahead/v4.0.0/js/bootstrap3-typeahead.min.js"></script>

    <script src="//cdn.corpam.com.ar/bootstrap-datepicker/stable/js/bootstrap-datepicker.min.js"></script>
    
    <link  href="//cdn.corpam.com.ar/bootstrap-table/stable/bootstrap-table.css" rel="stylesheet">
    <script src="//cdn.corpam.com.ar/bootstrap-table/stable/bootstrap-table.js"></script>

    <link  href="{{ config['CDN_MAVAPA'] }}/app/css/mavapa.css" rel="stylesheet">
    <script src="{{ config['CDN_MAVAPA'] }}/app/js/mavapa.js"></script>
    <style>
      .panel-default {
      border-color: white !important;
      }
      #main-content{
      padding: 40px ;
      }
#loading-icon{
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;
    padding-top: 200px;
}
.modal-content-no-shadow{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: 0px;
}
.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 5%;
}
.modal-body{
    margin-bottom: 20px !important;
    min-height: 200px;
}
    </style>
    <script>
      {% include 'base.js' %}
    </script>
    {% block js %}
    {% endblock %}
  </head>
  <body>
    <nav class="header-bar navbar navbar-default navbar-static-top">
      <div class="content-bar">
	<div class="sidebar-toggle">
	  <a id="btn-toggled" href="#" style="outline: none;">
	    <i class="fa fa-bars fa-lg"></i>
	  </a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="nav">
	      <p class="nav">{{ session.user.displayname }}</p>
	    </li>
	    <li class="nav dropdown">
	      <a id="mavapa-apps-dropdown" href="#" class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<i class="fa fa-th fa-lg"></i>
	      </a>
	      <ul id="mavapa-apps-menu" class="dropdown-menu pull-right">
	      </ul>
	    </li>
	    <li class="nav dropdown">
	      <a id="morandu-dropdown" href="#" class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<i class="fa fa-bell fa-lg"></i>
	      </a>
	      <ul id="morandu-notify" class="dropdown-menu pull-right">
	      </ul>
	    </li>
	    <li class="nav dropdown profile">
	      <a class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<img class="img-circle" src="{{ session.user.avatar }}">
	      </a>
	      <ul class="dropdown-menu pull-right">
		<li>
		  <a href="{#{{ url_for('profile') }}#}">
		    <i class="fa fa-user fa-fw"></i>
		    Profile
		  </a>
		</li>
		{% if session.user.admin %}
		<li>
		  <a href="{{ url_for('admin') }}">
		    <i class="fa fa-cog fa-fw"></i>
		    Administration
		  </a>
		</li>
		{% endif %}
		<li class="nav-divider"></li>
		<li>
		  <a href="{{ url_for('logout') }}">
		    <i class="fa fa-sign-out fa-fw"></i>
		    Logout
		  </a>
		</li>
	      </ul>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>

    <div class="sidebar navbar toggled" role="navigation">
      <div class="logo">
	<a href="{{ url_for('index') }}">
	  <img src="{{ config['STATIC'] }}/img/logo.png" alt="logo">
	</a>
      </div>
      <div class="clearfix"></div>
      <div class="profile">
	<img class="img-circle fa" src="{{ session.user.avatar }}"/>
	<div class="info hiddeable">
	  <span class="displayname">{{ session.user.displayname }}</span>
	  <span class="title">{{ session.user.title }}</span>
	</div>
      </div>
      <div class="clearfix"></div>
      <ul class="nav menu">
	<li class=''>
    	  <a href="{{url_for('index')}}" class=''
    	     title="Home" data-toggle="tooltip">
    	    <i class="item fa fa-fw fa-bar-chart" aria-hidden="true"></i>
    	    <span class="hiddeable">Dashboard</span>
    	  </a>
	</li>
	<li class=''>
    	  <a href="{{url_for('zones_list')}}" class='showZonesMain home-logo'
    	     title="Home" data-toggle="tooltip">
    	    <i class="item fa fa-fw fa-list" aria-hidden="true"></i>
    	    <span class="hiddeable">Zones</span>
    	  </a>
	</li>
	<li>
    	  <a href="{{url_for('unpublished')}}"
    	     title="Unpublished" data-toggle="tooltip">
    	    <i class="item fa fa-fw fa-clipboard" aria-hidden="true"></i>
    	    <span class="hiddeable">Unpublished</span>
    	  </a>
	</li>
	<li>
    	  <a href="{{ url_for('unpublished') }}"
    	     title="Expiration" data-toggle="tooltip">
    	    <i class="item fa fa-fw fa-calendar" aria-hidden="true"></i>
    	    <span class="hiddeable">Expiration</span>
    	  </a>
	</li>
	<li>
    	  <a href="{{url_for('history')}}"
    	     title="Logs" data-toggle="tooltip">
    	    <i class="item fa fa-fw fa-history" aria-hidden="true"></i>
    	    <span class="hiddeable">History</span>
    	  </a>
	</li>	
	{% if session.user.admin %}
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
	     aria-haspopup="true" aria-expanded="false"
	     title="Administration">
	    <i class="item fa fa-fw fa-cog main" aria-hidden="true"></i>
	    <span class="hiddeable">Admin</span>
	  </a>
	  <ul class="dropdown-menu">
	    <li>
    	      <a href="{{ url_for('advanced_search')}}">
    		<i class="fa fa-fw fa-search" aria-hidden="true"></i>
    		<span>Advanced Search</span>
    	      </a>
	    </li>
	    <li>
    	      <a href="{{ url_for('admin') }}">
    		<i class="fa fa-fw fa-users" aria-hidden="true"></i>
    		<span>Users</span>
    	      </a>
	    </li>
	    <li>
    	      <a href="{{ url_for('admin_agents') }}">
    		<i class="fa fa-fw fa-user-secret" aria-hidden="true"></i>
    		<span>Agents</span>
    	      </a>
	    </li>
	    <li>
	      <a href="{{ url_for('admin_ddns') }}">
		<i class="fa fa-fw fa-exchange" aria-hidden="true"></i>
		<span>Dynamic Dns</span>
	      </a>
	    </li>
	  </ul>
	</li>
	{% endif %}
      </ul>
      <div class="footer">
	<a data-toggle="tooltip" data-placement="top" title="Profile"
	   href="#" class="hiddeable">
	  <i class="fa fa-fw fa-user"></i>
	</a>
	<a data-toggle="tooltip" data-placement="top" title="Logout"
	   href="{{ url_for('logout') }}">
	  <i class="fa fa-fw fa-sign-out"></i>
	</a>
      </div>
    </div>
      
    <div class="wrapper">
      {% block main %}
      {% endblock %}
      
      <div class="alert-container">
	{% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-message alert-{{ category }} fade in">
	  <button type="button" class="close" data-dismiss="alert" style="outline: none;">&times;</button>
	  {% if category == 'success' %}
	  <i class="fa fa-check-circle"></i>
	  {% elif category in ['danger', 'warning'] %}
	  <i class="fa fa-exclamation-circle"></i>
	  {% else %}
	  <i class="fa fa-info-circle"></i>
          {% endif %}
	  {{ message|safe }}
	</div>
	{% endfor%}
      </div>
      <div id="loading" class="modal  "
	   tabindex="-1" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400">
	  <div class="modal-content modal-content-no-shadow">
	    <div class="modal-body modal-transparent">
	      <div id='loading-icon' >
		<i class="fa fa-pulse fa-spinner fa-5x fa-fw"></i>
	      </div>
	    </div>
	  </div>
	</div>

      </div>
      {% block modals %}{% endblock %}
      {% include "zones/modals/add_zone.html" %}
    </div>
    {% block footer %}
    <div class="footer-bar">
      <div class="content-bar">
	<ul class="links">
	  <span style="padding-left: 0px;">
	    <small>©&nbsp; 2016</small>
	  </span>
	  <li>
	    <a href=""><small>Developers</small></a>
	  </li>
	  <li>
	    <a href=""><small>Support</small></a>
	  </li>
	  <li>
	    <a href=""><small>Privacy</small></a>
	  </li>
	  <li>
	    <a href=""><small>Terms</small></a>
	  </li>
	</ul>
      </div>
    </div>
    {% endblock %}
  </body>

  <script>
    $(document).ready(function () {
	$('#btn-toggled').click(function(e) {
	    e.preventDefault();
	    $('.sidebar').toggleClass("toggled");
	    $('.header-bar').toggleClass("toggled");
	    $('.wrapper').toggleClass("toggled");
	    $('.footer-bar').toggleClass("toggled");
	    $('.table').bootstrapTable('resetView');
	});
    });
  </script>
  {% block scripts %}
  {% endblock%}
</html>
