{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<div class='main-content'>
  <div class='row' style='margin-right: 0px;'>
    <div class='col-md-2'></div>
    <div class='col-md-4 text-center'>
      <h3>Domains without expiration data</h3>
      <div id='domain_exp_pie'></div>
    </div>
    <div class='col-md-4 text-center'>
      <h3>Top 5 Published zones</h3>
      <div id='published_pie'></div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}
{% include "__include__/c3.html" %}
{% include "__include__/d3.html" %}
<script>
{% include "dashboard.js" %}
</script>
{% endblock %}
