      {% block footer %}


      <div class="footer-bar">
        <div class="content-bar">
          <ul class="links">
            <span>
              <small>©&nbsp; 2016 Corporación América</small>
            </span>
            <li>
              <a href="http://developers.corpam.com.ar"><small>Developers</small></a>
            </li>
            <li>
              <a href=""><small>Support</small></a>
            </li>
            <li>
              <a href=""><small>Privacy</small></a>
            </li>
            <li>
              <a href=""><small>Terms</small></a>
            </li>
          </ul>
        </div>
      </div>
      {% endblock %}