<nav id='headerbar' class="navbar navbar-inverse ">
    <div class="container-fluid">
	  <div id="navbar" class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">

	      	{% if ctx.app_name == 'index'%}
	      	<li class=" showZonesMain ">
            <a class='home-logo' href="#">
               <img class='home-logo' src='{{url_for('static', filename='img/logo.png')}}'/>
            </a>
          </li>
	 	    {% else %}
	 	    <li class="home-logo showZonesMain">
          <a class='home-logo' href="{{url_for('index')}}">
             <img class='home-logo' src='{{url_for('static', filename='img/logo.png')}}'/>
          </a>
        </li>
	 	    	
	        {% endif %}
	      {% block main_menu %}
	      {% endblock %}
	    </ul>

	    <ul class="nav navbar-nav pull-right">
	      <li class="nav" style='padding-top: 15px'>
		<p class="nav">{{ session.user.displayname }}</p>
	      </li>
	      <li class="nav dropdown">
		<a id="mavapa-apps-dropdown" href="#" 
		   class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		  <i class="fa fa-th fa-lg" style='padding-top: 4px'></i>
		</a>
		<ul id="mavapa-apps-menu" class="dropdown-menu pull-right">
		</ul>
	      </li>
  	      <li class="nav dropdown">
	        <a href="#" class="nav dropdown-toggle" data-toggle="dropdown">
		  <img src="{{session.user.avatar}}" class="profile-image img-circle"/>
		</a>
	 	<ul class="dropdown-menu pull-right">
                  {% if session.user.admin %}
                  <li class="">
                    <a href="{{url_for('admin')}}"> <i class="fa fa-cog"></i> Admin</a>
                  </li>
                  {% endif %}
		  <li class="divider"></li>
		  <li><a href="{{url_for('mavapa.logout')}}"><i class="fa fa-sign-out"></i> Sign-out</a></li>
		</ul>
	      </li>
	    </ul>
      {% block search_nav %}
      {% if ctx.app_name != 'search' %}
      <div class="nav navbar-nav pull-right">
        <form class="navbar-form" role="search">

        <div class="input-group">
            <input type="text" class="form-control" id="search" data-provide="typeahead" placeholder='Search zone'>
        </div>
        </form>
      </div>
      {% endif %}
      {% endblock %}
	  </div><!--/.nav-collapse -->
      </div>
      </nav>
