{% extends "base.html" %}
{% block js %}
{% endblock %}
	      {% block main_menu %}

	      <li class=" showZonesMain"><a href="{{url_for('index')}}">Home</a></li>
        <li class=""><a href="{{url_for('zone_to_publish')}}">To be published</a></li>
	      {% if session.user.admin %}
        <li class=""><a id="addZone" href="#">Add Zone</a></li>
	      <li class=""><a href="{{url_for('admin')}}">Admin</a></li>
	      {% endif %}
	      {% endblock %}

{% block main %}
 <div id='main' class="container">
	<div class='row'>
		<div class='col-md-2'></div>
		<div class='col-md-8'>
   			<h1> I can not connect to servers. Please check status page</h1>
   		</div>
	 	<div class='col-md-2'></div>

   	</div>
 </div>
{% endblock %}
