{% extends "base.html" %}
{% block title %}DoNutS - Unpublished{% endblock %}

{% block main %}
<div class="section-header" style="text-shadow: none !important;
				   height: 7%;
				   width: 100%;
				   position: relative;
				   border-bottom: 1px solid #e7e7e7;">
  <div class="title" style="float: left;
			    font-size: 30px;
			    margin: 0px;
			    padding-left: 1%;
			    position: relative;
			    text-align: left;
			    top: 50%;
			    transform: translateY(-50%);
			    width: 74%;">
    <i class="fa fa-fw fa-clipboard" aria-hidden="true"></i>
    Unpublished
  </div>
</div>
<div class="section-content" style="position:relative;width:100%;height:93%;overflow-y:auto;padding:0% 1%;">
  <div id="toolbar-unpublished">
    <button class="btn btn-success" type="button" data-click="publish-bulk"
	    id="publish-bulk" aria-haspopup="true"
	    aria-expanded="false">
      <i class="fa fa-fw fa-arrow-up"></i>
    </button>
    <button class="btn btn-danger" type="button" data-click="delete-bulk"
	    id="delete-bulk" aria-haspopup="true"
	    aria-expanded="false">
      <i class="fa fa-fw fa-trash"></i>
    </button>
  </div>  
  <table id="table-unpublished"
	 data-toolbar="#toolbar-unpublished"
	 data-show-toggle="false" data-show-export="false"
	 data-show-columns="true" data-show-multi-sort="true"
	 data-sort-name="date" data-sort-order="desc"
	 data-pagination="true" data-page-size="100"
	 data-toggle="table" data-search="true" data-striped="true"
	 data-show-footer="false"
	 data-escape="false" data-maintain-selected="true"
	 data-show-refresh="true"
	 data-url="{{ url_for('api_publish') }}?status=false"
	 data-response-handler="UnpublishedResponseHandler"
	 data-query-params="UnpublishedParams"
	 data-side-pagination="client"
	 data-show-header="true" data-reorderable-columns="true"
	 class="table-hover table-striped table-compact table-responsive
		table-condensed table-autosize">
    <thead>
      <tr>
	<th data-field="select" data-visible="true"
	    data-checkbox="true">
	  <i class="fa fa-fw fa-check-square"></i>
	</th>
	<th data-valign="middle" data-align="center" data-field="id"
	    data-halign="center" data-sortable="true" data-visible="false">
	  <i class="fa fa-fw fa-list-ol"></i>
	  ID
	</th>	
	<th data-valign="middle" data-align="center" data-field="date"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterDate">
	  <i class="fa fa-fw fa-calendar"></i>
	  Date
	</th>
	<th data-valign="middle" data-align="center" data-field="action"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterAction">
	  <i class="fa fa-fw fa-bolt"></i>
	  Action
	</th>
	<th data-valign="middle" data-align="left" data-field="master"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterMaster">
	  <i class="fa fa-fw fa-shield"></i>
	  Master
	</th>
	<th data-valign="middle" data-align="left" data-field="view"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterView">
	  <i class="fa fa-fw fa-eye"></i>
	  View
	</th>
	<th data-valign="middle" data-align="left" data-field="zone"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterZone">
	  <i class="fa fa-fw fa-cube"></i>
	  Zone
	</th>
	<th data-valign="middle" data-align="left" data-field="name"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterName">
	  <i class="fa fa-fw fa-list"></i>
	  Name
	</th>
	<th data-valign="middle" data-align="left" data-field="owner"
	    data-halign="center" data-sortable="true" data-formatter="UnpublishedFormatterOwner">
	  <i class="fa fa-fw fa-user"></i>
	  Owner
	</th>
	<th data-valign="middle" data-align="center" data-field="actions"
	    data-halign="center" data-formatter="UnpublishedFormatterActions">
	  <i class="fa fa-fw fa-cog"></i>
	</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block js%}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<script>
{% include "js/common.js" %}
{% include "unpublished/index.js" %}
</script>
{% endblock %}
